body {
       margin: 0;
       padding: 0;
       font-size: 16px;
       font-family: 'Roboto';
       color: #000000;
  
       background-color: #ffffff;
}
a {  
    text-decoration: none;
}
li {
  list-style-type: none;
}
hr {
  margin: 0;
  padding: 0;
}
.main-header {
  background-color: #eeeeee;
}
.main-header-catalog  {
  background-color: #eeeeee;
}
.main-navigation { 
                   font-size: 16px;
                   line-height: 30px;
                   color: #000000;
  
  }
.sait-navigation, 
.basket-navigation {
  text-transform: uppercase;
  list-style: none;
}
.sait-navigation a, 
.basket-navigation a {
                   color: #000000;
}
.sait-navigation a:hover,
.basket-navigation a:hover {
                    color: #fb565a;
}

.sait-navigation a:focus,
.basket-navigation a:focus {
                    color: #bababa;
}
.sait-navigation a:active::after, 
.basket-navigation a:active::after {
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background-color: #fb565a;
}
.main-market { 
             font-size: 55px;
             line-height: 55px;
             color:#000000;
}
.filter-grid,
.filter-features,
.filter-sorting {
             font-size: 18px;
             line-height: 30px;
             color:#000000;
             text-transform: uppercase;
}
.template-current {
             font-size: 14px;
             line-height: 18px;
             color:#000000;
             text-transform: uppercase;
}
.template-sorting a {
             font-size: 14px;
             line-height: 18px;
             color:#c1c1c1;
             text-transform: uppercase;
}
.template-sorting a:hover {
              color: #666666;
}
.template-sorting a:focus {
              color: #000000;
}
.field-options { 
             font-size: 16px;
             line-height: 20px;
             color:#283136;
}
.filter-button { 
              font-size: 16px;
              line-height: 20px;
              color:#000000;
              font-weight: normal;
              text-transform: uppercase;
  
              background-color: #eeeeee;
}
.filter-button:hover {
             background-color: #dfdfdf;
} 
.filter-button:focus {
             color: #959595;
             background-focus: #d5d5d5;
}  
.pagination-item-current a{
                color: #000000;
                font-size: 16px;
                line-height: 18px;
                border-color: #eeeeee;
  
                backgroud-color: #ffffff;
}
.pagination-item a { 
                 font-size: 16px;
                 line-height: 18px;
                 color: #000000;
                 text-transform: uppercase;
                
                 backgroud-color: #eeeeee;
}
.pagination-item a:hover {
                 backgroud-color: #dfdfdf;
}
.pagination-item a:focus {
                 color: #959595;
                 backgroud-color: #d5d5d5;
}               
.presentation {
             list-style: none;
             font-size: 55px;
}
.main-container {
                 font-size: 55px;
                 line-height: 55px;
                 color:#000000;
                 font-weight: 900;
                 text-align: left;
}
.main-container-text { 
                       font-size: 16px;
                       line-height: 24px;
                       color:#000000;
                       text-align: left;
}
.main-container-list { 
                       font-size: 16px;
                       line-height: 24px;
                       color:#000000;
                       text-align: left;
}
.main-presentation a { 
                      font-size: 16px;
                      line-height: 18px;
                      color:#ffffff;
  
                      background-color: #fb565a;
}
.main-presentation a:hover { 
                      color:#ffffff;
                        
                      background-color: #e74246;
}
.main-presentation a:focus { 
                      color:#e37376;
                        
                      background-color: #d7373b;
}
.advantage {
  margin: 0;
  padding: 0;
}
.advantage-main { 
              font-size: 24px;
              line-height: 30px;
              color: #000000;
              font-weight:700;
              text-transform: uppercase;
}

.advantage-sites button { 
                      width: 160px;
                      height: 52px;
                      border-style: none;
                      text-aline: center;
                      font-size: 16px;
                      line-height: 24px;
                      color: #ffffff;
                      text-transform: uppercase;
  
                      background-color: #fb565a;
}
.advantage-sites button:hover {
                            color: #ffffff;
                            
                            background-color: #e74246;
} 
.advantage-sites button:focus {
                            color: #e37376;
                            
                            background-color: #d7373b;
} 
.advantage-apps button {
                      width: 160px;
                      height: 52px;
                      border-style: none;
                      text-aline: center;
                      font-size: 16px;
                      line-height: 24px;
                      color: #ffffff;
                      text-transform: uppercase;
  
                      background-color: #00ca74;
  
}
.advantage-apps button:hover {
                           color: #ffffff;
                            
                            background-color: #00bc6c;
}
.advantage-apps button:focus {
                           color: #38bd84;
                            
                            background-color: #00aa62;
}

.advantage-presentation button {
                      width: 160px;
                      height: 52px;
                      border-style: none;
                      text-aline: center;
                      font-size: 16px;
                      line-height: 24px;
                      color: #ffffff;
                      text-transform: uppercase;
  
                      background-color: #efc84a;
}
.advantage-presentation button:hover {
                                    color: #ffffff;
                            
                                    background-color: #eab534;
}
.advantage-presentation button:focus {
                                    color: #edc265;
                            
                                    background-color: #e5a722;
}  
.main-description { 
                 font-size: 45px;
                 line-height: 45px;
                 color: #000000;
                 font-weight:700;
}
.description-service {
                  font-size: 16px;
                  line-height: 24px;
                  color: #000000;
                  text-transform: uppercase;
}
.description-text { 
                  font-size: 16px;
                  line-height: 24px;
                  color: #000000;
                  text-align: left;
              
                  text-transform: uppercase;
}
.description-percent b {
                   font-size: 45px;
                   color: #000000;
                   font-weight:900;
}
.description-percent sup { 
                   font-size: 45px;
                   color: #000000;
                   font-weight:900;
}
.description-tabl {
                   font-size: 16px;
                   line-height: 18px;
                   color: #000000;
}
.name { 
       font-size: 18px;
       line-height: 30px;
       color: #000000;
       font-weight:900;
}
.adress {
       font-size: 16px;
       line-height: 18px;
       color: #666666;
       font-weight:normal;
}
.phone {
     color: #666666;
     text-decoration: none;
}
.button {
       font-size: 16px;
       line-height: 18px;
       color: #ffffff;
       text-transform: uppercase;
     
       background-color: #fb565a;
}
.footer { 
         font-size: 36px;
         line-height: 36px;
         color: #000000;
         font-weight:900;
}
.footer-text { 
         font-size: 16px;
         line-height: 22px;
         color: #444444;
}
.visually-hidden {
          display: none;
}
/*----Сеточные стили----*/

html, body {
 min-width: 1200px;
 min-height: 2476px; 
}
  
.main-header {
 /*----Временно для сеток----*/
          min-height: 547px;
}
.main-header-catalog {
  /*----Временно для сеток----*/
  min-height: 353px;
}  
.main-navigation {
  display: flex;
  width: 1160px;
  justify-content: space-between;
 /*----Временно для сеток----*/
          min-height: 132px;
}
.main-navigation-logo { 
  margin-top: 50px;
} 
.main-navigation-logo: active {
  color: #a6a6a6;
}
.navigation {
  display: flex;
  width: 860px;
  margin: 0 0;
  justify-content: space-between;
}
.sait-navigation {
  display: flex;
  width: 440px;
  margin: 0;
  padding: 0;
  margin-top: 83px;
  justify-content: space-between;
  
  list-style: none;
  /*----Временно для сеток----*/
  min-height: 114px;
}
.basket-link {
  text-align: right;
}
.basket-navigation {
  display: flex;
  width: 180px;
  margin: 0;
  padding: 0;
  margin-top: 83px;
  list-style: none;
  justify-content: space-between;
  /*----Временно для сеток----*/
  min-height: 114px;
}
.basket-img {
  padding-left: 45px;
}
.presentation {
  margin: 0;
  padding: 0;
  width: 1160px;
  list-style: none;
  /*----Временно для сеток----*/
  min-height: 418px;
}
.container { 
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.information {
  width: 400px;
  /*----Временно для сеток----*/
  min-height: 274px;
} 
.image {
  width: 698px;
  height: 417px;
}
.presentation-design {
  display: flex;
  justify-content: space-between;
}
.presentation-mathematics {
  display: flex;
  justify-content: space-between;
  display:none;
}
.hardkor {
  display: flex;
  justify-content: space-between;
  display:none;
}
.main-presentation {
  margin: 0;
  padding: 0;
}
.main-presentation a {
  display: block;
  width: 240px;
  text-align: center;
  padding: 20px 20px;
}
.main-container {
  width: 376px;
  height: 65px;
}
.main-container-text {
  width: 361px;
  height: 45px;
  text-aline: center;
}
.main-container-list {
  margin-top: 30px;
}
.main-description-list {
  width: 460px;
  margin-top: 0;
}  
.information-button {
  width: 240px;
  height: 50px;
}
.advantage { 
  width: 1200px;
  height: 508px;
}  
.main-advantage {
  width: 1100px;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.advantage-sites { 
  width: 300px;
  height: 349px;
}
.advantage-presentation { 
  width: 300px;
  height: 349px;
}
.advantage-apps { 
  width: 300px;
  height: 349px;
}
.description {
  display: flex;
  width: 1160px;
  height: 530px;
  justify-content: space-between;
}
.description-blok {
  width: 700px;
  margin-top: 80px; 
}
.statistics-blok {
  width: 360px;
  margin-top: 40px; 
}
.description-text {
  margin-top: 40px;
  margin-bottom: 50px;
}
.main-description {
  width: 700px;
  /*----Временно для сеток----*/
  min-height: 87px;
}
.main-container-text {
  width: 700px;
  margin-top: 40px;
  margin-bottom: 45px;
   /*----Временно для сеток----*/
   min-height: 45px;
}
.main-order {
  width: 429px;
  /*----Временно для сеток----*/
  min-height: 160px;
}
.main-description {
   width: 332px;
  /*----Временно для сеток----*/
  min-height: 20px;
  margin-top: 40px;
}
.main-description-text {
 display: flex;
 width: 360px;
 height: 105px;
 }
.main-description-data {
 display: flex;
 flex-wrap: wrap;
 padding:0;
 margin:0;
 width: 360px;
 }

.description-percent {
  width: 120px;
  height: 50px;
}
.description-tabl {
  width: 120px;
  height: 50px;
}
.main-advertising
{display:flex;
 justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
  .advertising-list {
  width: 260px;
  height: 185px;
  text-align: center;
}
 .main-footer img {
   width: 100%;
}
.main-footer {position: relative;
}

.footer-contacts {
  position: absolute;
  background: #ffffff;
  width: 318px;
  height: 307px;
  top: 52px;
}
.footer-social {
  width: 1200px;
  height: 219px;
  display: flex;
  text-aline:left;
  margin-top: 70px;
} 
.social {
  width: 260px;
  height: 80px;
  display: flex;
  justify-content: space-between;
   }
.text {
  margin-left: 140px;
}
.main-market {
  text-align: center;
  margin-bottom: 120px;
}
.market {
  display: flex;
  }
.filtres {
  width: 300px;
  height: 180px;
}
.template-main {
   width: 800px;
  height: 2047px;
}
.template-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
.pagination-list {
  display: flex;
  text-aline: center;
}
.contacts {
  margin-top: 53px;
  margin-left: 48px;
}
.contacs-button {
  margin-top: 40px;
  margin-left: 48px;
}
.name {
  margin-bottom: 35px;
}
.adress {
  margin-bottom: 20px;
}
.contacs-button {
  display: block;
  width: 220px;
  text-align: center;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-contacts a:hover { 
                      color:#ffffff;
                        
                      background-color: #e74246;
}
.footer-contacts a:focus { 
                      color:#e37376;
                        
                      background-color: #d7373b;
}
  

  
  
  

  

  

  


  
  
        
  
  
         


